@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #131857;
  --primary-white: #ffffee;
  
}

body {

}


@layer components {

  
  .checkbox {
    border: 1px solid yellow;
  }

  .nav-btn {
    @apply px-2 py-2 rounded-md text-[var(--primary-white)] bg-[var(--primary-blue)] self-center text-center transition-all duration-300;
  }

  .nav-btn:hover {
    @apply bg-[var(--primary-white)] text-[var(--primary-blue)];
  }
}
