@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #131857;
  --primary-white: #ffffee;
  
}

body {

    background: var(--primary-white);

    .scrollbar-thin {
      scrollbar-width: thin;
    }
    .scrollbar-track-color {
      scrollbar-track-color: white;
    }
    .scrollbar-thumb-color {
      scrollbar-thumb-color: var(--primary-blue);
    }
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-blue);
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);

}


@layer components {

  .checkbox {
    border: 1px solid red;
  }

  .nav-btn {
    @apply px-2 py-2 rounded-md text-[var(--primary-white)] bg-[var(--primary-blue)] self-center text-center opacity-75 transition-all duration-300;
  }

  .nav-btn:hover {
    @apply bg-[var(--primary-white)] text-[var(--primary-blue)];
  }

  .page-container {
    @apply max-w-[80ch] px-3 overflow-scroll;
  }

  .sub-container {
    @apply text-left px-4 py-2;
  }

  .sub-container h5 {
    @apply font-bold py-1;
  }

  .sub-container p {
    @apply pl-4 py-1;
  }

  .about {
    @apply border-[1px] border-[var(--primary-blue)] border-dashed rounded-lg
  }

  .about h5 {
    @apply font-bold text-center border-b-[1px] border-[var(--primary-blue)] border-dashed p-2
  }

  .about p {
    @apply p-2;
  }

  .dod-logo-wrapper {
    @apply text-left w-full;
    @layer {
      font-size: clamp(1rem, 5vw, 5rem);
    }
  }
}
