@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --arc-blue: rgb(3, 28, 227);
}

.wrapper::after  {
  content: "";
  width: 20px;
  margin-right: 0px;
  height: 90vh;
  background-color: var(--arc-blue);
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}

@layer base {
  body {
    font-family: default, Courier New;
    box-sizing: border-box;
    margin-right: 0;
  }
}

@layer components {

  .wrapper {
    @apply flex relative my-5 w-[100vw]
  }
  .container {
    @apply flex flex-col items-center border-[1px] border-arc_blue  mr-4 rounded-r-xl p-8 justify-center
  }

  .logo_wrap {
    @apply grid  grid-flow-col divide-x-2 divide-arc_blue p-6
  }

  .title_container {
    @apply grid grid-flow-row items-start ml-4
  }

  .dod_title {
    @apply text-arc_blue text-2xl font-title
  }

  .of_title {
    @apply font-of_title text-3xl  ml-[-0.5rem]
  }

  .credits {
    @apply text-gray-500 text-xs absolute bottom-1 italic
  }

  .credits_1 {
    @apply  left-2
  }

  .credits_2 {
    @apply right-14
  }


}